<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <div class="container my-3">
            <p>目前共有 {{ products.length }} 項產品</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>產品名稱</th>
                        <th>原價</th>
                        <th>售價</th>
                        <th>是否啟用</th>
                        <th>查看細節</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in products">
                        <td>{{ item.title }}</td>
                        <td>{{ item.origin_price }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <span class="text-success" v-if="item.is_enabled">啟用</span>
                            <span class="text-danger" v-else>未啟用</span>
                        </td>
                        <td>
                            <button type="button" v-on:click="showDetail(item)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productDetail">
                                查看細節
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="productDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ temp.title }}</h5>
                        <span class="bg-primary text-white rounded-2 p-1 ms-2">{{ temp.category }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-unstyled">
                            <li class="py-1">
                                <img class="w-100" :src="temp.imagesUrl" :alt="temp.title">
                            </li>
                            <li class="py-1">
                                商品描述：{{ temp.description }}
                            </li>
                            <li class="py-1">
                                商品內容：{{ temp.content }}
                            </li>
                            <li class="py-1">
                                {{ temp.price }} <del>{{ temp.origin_price }}</del> / 元
                            </li>
                        </ul>
                        <hr>
                        <h2 class="h5">Other Images</h2>
                        <div class="container p-0">
                            <!-- 先判斷有該陣列，再判斷其陣列長度 https://blog.csdn.net/qq_40128591/article/details/113680238 -->
                            <ul v-if="temp.imagesUrl && temp.imagesUrl.length > 0" class="row list-unstyled py-2">
                                <li class="col-md-4 py-2" v-for="(url,num) in temp.imagesUrl">
                                    <img class="img-fluid" :src="url" :alt=`圖片${num+1}`>
                                </li>
                            </ul>
                            <p class="py-2" v-else>沒有其它照片</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="main.js" type="module"></script>
</body>
</html>